.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  width: 100vw;
  height: 100vh;

  background-color: white;
}

.timer {
  color: black;
  font-size: 120px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 100px;
  height: 60px;
  padding: 5px;

  color: white;
  background-color: rebeccapurple;

  cursor: pointer;
  
  transition: all 0.2s;
  
  font-size: 24px;

  border-radius: 5px;
  border: 0;
}

.buttons button:hover {
  color: #938fff;
  background-color: #63228c;
}
